In [2]:
from dataretrieval import nwis
from IPython.display import display
from matplotlib import ticker

In [22]:
import re

def extract_unique_15_digit_numbers(file_path):
    # Read the content of the file
    with open(file_path, 'r') as file:
        content = file.read()
    
    # Find all 15-digit numbers using regular expression
    numbers = re.findall(r'\b\d{15}\b', content)
    
    # Convert to a set to get unique numbers, then back to a list
    unique_numbers = list(set(numbers))
    
    return unique_numbers

# Example usage:
file_path = 'data/2020TempretureData.rdb'
unique_15_digit_numbers = extract_unique_15_digit_numbers(file_path)
print(" Found this many sites with data" ,len(unique_15_digit_numbers))

 Found this many sites with data 448

In [30]:
# "00010," # Water Temp In C
# "00011," # Water Temp In F
#Parameter Code 72019 = Depth to water level, ft below land surface
#Parameter Code 99268	Depth of sensor below water surface, not corrected for barometric pressure variations, ft
# Parameter Code 72147  	Depth of sensor below water surface, ft
# statReportType="daily",

x3 = nwis.get_stats(sites=unique_15_digit_numbers[10:20], parameterCd=["00010", "72147","72019" ],
                    statReportType="daily", statTypeCd=["mean"],
                    startDt="2022-01-01", endDt="2022-01-02")
display(x3[0])

,agency_cd,site_no,parameter_cd,ts_id,loc_web_ds,month_nu,day_nu,begin_yr,end_yr,count_nu,mean_va
0,USGS,254154080213703,00010,27764,NaN,1,1,2022,2022,1,27.40
1,USGS,254154080213703,00010,27764,NaN,1,2,2022,2022,1,27.40
2,USGS,413705087231601,00010,258570,NaN,1,1,2022,2022,1,8.10
3,USGS,413705087231601,00010,258570,NaN,1,2,2022,2022,1,7.80
4,USGS,413705087231601,72019,264388,NaN,1,1,2022,2022,1,-0.91
5,USGS,413705087231601,72019,264388,NaN,1,2,2022,2022,1,-0.93